.whiteHeader {
  color: #042d40;
  background-color: #fff;
}

.whiteHeader i {
  color: #62bab8;
}

.whiteHeader button {
  color: #042d40;
  background-color: #fff;
}

.blueMenu {
  color: #042d40;
}

.header {
  z-index: 5;
  width: 100%;
  -webkit-box-shadow: 0px 1px 5px dimgray;
          box-shadow: 0px 1px 5px dimgray;
  position: fixed;
  font-size: 1.3rem; }

.header img {
  margin-left: 10px;
  height: 2rem;
  height: 1.8rem;
}

.icon-menu {
  font-size: 1.6rem;
}

.headerFixed {
  position: absolute;
  top: 0;
}

.menu_background {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}

.menu_wrapper {
  font-size: 1.1rem;
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 20rem;
  background-color: #042d40;
}

.icon-cancel {
  font-size: 1.8rem;
}

ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li i {
  color: #62bab8;
}


.list_wrapper {
  height: 70vh;
  overflow-y: scroll;
}

.list_wrapper p {
  text-align: left;
  margin-left: 1.5rem;
}

.menu {
  position: absolute;
  top: 0;
}

.menu_visible {
  display: block;
}

.menu_bottom {
  background-color: #62bab8;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blue_bg {
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search {
  width: 4rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-search {
  color: #62bab8;
  margin-right: 10px;
}

.full_screen_menu {
  display: none;
}

@media (min-width: 900px) {
  .icon-menu,
  .icon-down-dir {
    display: none;
  }

  .header,
  .full_screen_menu,
  .menu_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    height: 3.5rem;
  }

  .header img {
    height: 1.4rem;
  }

  .full_screen_menu {
    height: inherit;
    width: 100%;
  }

  .full_screen_menu ul {
    margin-top: 3px;
    height: inherit;
    width: 28rem;
    display: flex;
    flex-direction: row;
  }

  li:hover .blue_border_top {
    transition: all 0.4s ease-in;
    width: 100%;
  }

  @keyframes animate_border_top {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  li .blue_border_top {
    background-color: #62bab8;
    height: 5px;
    width: 0;
    transition: all 0.3s ease;
    animation: animate_border_top 0.4s ease-in;
  }

  li span {
    padding-top: 1rem;
    padding-bottom: 1.3rem;
  }

  .full_screen_menu ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0 10px;
    font-size: 11px;
  }

  .menu_right {
    padding: 0 1.7rem;
    height: inherit;
    width: 15rem;
    font-size: 11px;
  }

  .circle {
    height: 1.5rem;
    width: 1.5rem;
    border-color: #62bab8;
  }

  .icon-search {
    color: #fff;
    margin: 0;
  }

  .icon-comment {
    color: #62bab8;
  }

  button {
    font-size: 11px;
    width: 8rem;
    border: 1px solid #177d9d;
    background-color: #035878;
  }


  li:hover .dummy_text,
  li:hover .blue_line {
    display: block;
  }

  .text {
    padding: 1rem;
  }

  .dummy_text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3rem;
    display: none;
    width: 18rem;
    color: #042d40;
    text-transform: uppercase;
    background-color: #fff;

  }

}
