<div class="header" [class.whiteHeader]="isScrolled && !showMenu">
  <div class="logo_wrapper">
    <img [src]="isScrolled ? '../assets/img/logo_blue.png' : '../assets/img/logo.png' " alt="">
    <i class="icon-menu" [class.blueMenu]="isScrolled" (click)="toggle()"></i>
  </div>
  <div class="menu" *ngIf="showMenu">
    <div class="menu_background">
      <div class="menu_wrapper">
        <div class="logo_wrapper">
          <img src="../assets/img/logo.png" alt="">
          <i class="icon-cancel" (click)="toggle()"></i>
        </div>
        <div class="list_wrapper">
          <ul>
            <li *ngFor="let item of menuList | slice:0:-1">
              <span>{{ item.title }}</span>
            </li>
          </ul>
          <p class="blue_text">Support</p>
          <p class="blue_text">Sign in</p>
        </div>
        <div class="menu_bottom">
          <div class="blue_bg">
            <i class="icon-comment"></i>
            <p class="uppercase_text white_text bold_text">get started</p>
          </div>
          <div class="search">
            <i class="icon-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="full_screen_menu" [class.whiteHeader]="isScrolled" >
    <ul class="uppercase_text">
      <li *ngFor="let item of menuList | slice:0:-1">
        <div class="blue_border_top"></div>
        <span>{{ item.title }}</span>
        <i class="icon-down-dir" *ngIf="item.arrow"></i>
        <div class="dummy_text" *ngIf="item.arrow">
          <div class="text">{{ dummyText }}</div>
          <div class="rainbow_line"></div>
        </div>
      </li>
    </ul>
    <div class="menu_right" [class.whiteHeader]="isScrolled">
      <p>Support</p>
      <p class="bold_text">Sign in</p>
      <div class="circle">
        <i class="icon-search" [class.blue_text]="isScrolled"></i>
      </div>
      <div class="button">
        <div class="button_inner">
          <i class="icon-comment" [class.white_text]="isScrolled"></i>
          <span class="uppercase_text white_text bold_text">get started</span>
        </div>
      </div>

    </div>
  </div>
