.menu_background {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}

.menu_wrapper {
  font-size: 1.1rem;
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 20rem;
  background-color: #042d40;
}

img {
  margin-left: 10px;;
  height: 2rem;
}

.icon-cancel {
  font-size: 1.8rem;
}

ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li i {
  color: #62bab8;
}

.list_wrapper {
  height: 68vh;
  overflow: scroll;
}

.list_wrapper p {
  text-align: left;
  margin-left: 1.5rem;
}

.menu_bottom {
  background-color: #62bab8;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blue_bg {
  font-size: 0.9rem;
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search {
  width: 4rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-search {
  color: #62bab8;
  margin-right: 10px;
}

.hide_menu {
  display: none;
}
