.blue_background {
  background-color: #62bab8;
  position: relative;
  z-index: 9;
}

.top_wrapper {
  background: url(../assets/img/bg-top-home.jpg) no-repeat 50% 0;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  z-index: 1;
  position: relative;
  padding-bottom: 15rem;}

.slider {
  background: url(../assets/img/hero-line.png) repeat-x 50% 0;
  background-size: auto 100%;
  position: absolute;
  top: 3.8rem;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.5;
  height: 20rem;
}
.slider_bottom_text {
  padding: 25px;
  color: #fff;
}

.slider_bottom_text span {
  margin: 0 0.5rem;
}

h4,
h5,
h2 {
  font-weight: normal;
}

.stat_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  width: 100%;
  padding-bottom: 2.7rem;
  background: url(../assets/img/bg-statistics.png) no-repeat 0 center; }

.down_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -10px;
  height: 6rem;
  width: 6rem;
  background: url(../assets/img/bg-icon-stat.png) no-repeat 0 0; }

.down_arrow i {
  color: #042d40;
  position: absolute;
  top: 1rem;
  font-size: 1.3rem; }

.info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.info {
  text-align: center;
  width: 50%;
  padding-top: 3rem;
  text-transform: uppercase; }

.info_number {
  font-size: 3.3rem;
  font-weight: bold; }

.info_item {
  font-size: 0.8rem; }

footer {
  margin-top: 0;
  background-color: #042d40; }

footer ul {
  display: flex;
  flex-wrap: wrap;
}

footer ul > li {
  border-bottom: 2px solid #62bab8;
  display: flex;
  flex-direction: column;
}

.list_wrapper {
  display: flex;
  justify-content: space-between;
}

.text {
  display: none;
  text-align: left;
}

.show_text {
  display: block;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; }

.icon-down-open {
  color: #62bab8;
  font-size: 1.5rem;
}

.socials {
  margin-left: 1.5rem;
  width: 17rem;
  color: #7cb655;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials .circle {
  border-color: #7cb655;
  color: #7cb655;
}

.credits {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
  color: dimgray;
  font-weight: bold; }

.credits p {
  margin: 8px; }

.card_animate app-card:not(.static) {
  animation: top_down 1s ease-in alternate backwards;
}

@keyframes top_down {
  0% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}

.transparent {
  animation: transp 0.8s ease-in alternate backwards;
}

@keyframes transp {
  0% {
    filter: opacity(10%);
  }
  100% {
    filter: opacity(100%);
  }
}

.card_grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  height: 80rem;
  width: 94.5%;
  margin: 6rem 2.5%;
  flex-wrap: wrap-reverse;
  flex-direction: column;}


app-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 25%;
  overflow: hidden;
  position: relative;
}

app-card p {
  z-index: 2;
}

.number_text {
  font-size: 3.5rem;
}

.quotation_circle {
  width: 3rem;
  height: 3rem; }

.quotation_circle i {
  color: #e14854; }

.outer_circle {
  width: 6rem;
  height: 6rem;
}

.inner_circle {
  width: 4.5rem;
  height: 4.5rem;
}

.inner_circle img {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

#name {
  color: #e14854;
  font-size: 0.6rem;
  margin: 0;
  font-weight: bold; }

#position {
  font-size: 0.6rem;
  margin-bottom: 0; }

#quote_text {
  margin: 0 2rem 1rem;
  font-size: 1.4rem;
}

.card_text {
  font-size: 1.4rem;
}

.options {
  color: dimgray;
  font-size: 1.1rem;
}

.options span {
  line-height: 2rem;
  margin: 10px;
}
.options span:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .slider {
    top: 3.5rem;
  }
  footer ul {
    flex-direction: row;
  }

  footer li {
    width: 48%;
  }

  .footer_bottom {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {

  footer ul {
    padding: 1rem;
  }

  footer ul > li {
    position: relative;
    border-bottom: none;
    font-size: 0.85rem;
    width: 14.5%;
  }

  footer li i {
    display: none;
  }

  footer li span {
    padding-bottom: 0.8rem;
  }

  .blue_border {
    position: absolute;
    top: 1.3rem;
    height: 2px;
    width: 18px;
    background-color: #62bab8;
  }
  .text {
    color: dimgray;
    display: block;
    padding-left: 0;
    margin: 0;
    font-size: 0.6rem;
  }

  li:hover .blue_border {
    animation: animate_border 0.3s ease-in;
    width: 75px;
  }

  footer li span:hover {
    cursor: pointer;
  }

  .footer_inner {
    padding: 2.3rem;
  }

  @keyframes animate_border {
    0% {
      width: 18px;
    }
    100% {
      width: 75px;
    }
  }

  .stat_info {
    margin-bottom: 3rem;
  }

  .stats {
    margin-left: 1rem;
    margin-right: 1rem;
  }


  .info_wrapper {
    width: 100%;
    margin: 4rem 1rem 1rem;
  }

  .info {
    width: 25%;
  }

}
