body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.red_text {
  color: #e14854;
}

.darkblue_text {
  color: #042d40;
}

.blue_text {
  color: #62bab8;
}

.bold_text {
  font-weight: bold;
}

.uppercase_text {
  text-transform: uppercase;
}

.white_text {
  color: #fff;
}


button {
  color: #fff;
  font-size: 0.6rem;
  width: 6rem;
  height: 1.8rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2rem;
  border: 1px solid #fff;
}


carousel img {
  width: 30% !important;
  z-index: 2;
}

.logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem; }

.circle {
  border: 1px solid #e14854;
  color: #e14854;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }


ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 3rem 1rem;
  list-style: none;}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  margin: 8px;
  font-size: 16px;
  font-weight: bold;
}

.button {
  border-radius: 2rem;
}

.button_inner{
  display: inline;
}

.rainbow_line {
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(#d95154), color-stop(25%, #e58543), color-stop(50%, #d6b038), color-stop(75%, #7eb35a), to(#63b9b4));
  background: linear-gradient(to right, #d95154 0%, #e58543 25%, #d6b038 50%, #7eb35a 75%, #63b9b4 100%);
  height: 8px; }

#news{
  height: 50%;
  background-color: rgba(7,44,62,0.7);
}

#news p {
  font-size: 1.5rem;
  margin: 1.5rem;
}

#news .circle,
#case_study .circle  {
  color: #f7a81e;
  border-color: #f7a81e;
}

#number1 .circle,
#number2 .circle,
#blog .circle {
  color: #62bab8;
  border-color: #62bab8;
}

#number1 img,
#number2 img {
  margin-top: 2.5rem;
}

#number1 .number_text,
#number2 .number_text {
  margin: 0;
}

#discover {
  z-index: 1;
}

#product {
  position: absolute;
  left: 25%;
  bottom: 25%;
}

#blog{
  width: 50%;
}

#quote {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

#number1,
#number2 {
  color: #e14854;
  background-color: #fff;
}

#number1 img,
#number2 img {
  position: relative;
  z-index: 0;
  height: 28%;
}

#case_study,
#product {
  background-color: #62bab8;
}

#event .top_bg {
  z-index: 1;
  background: rgba(111,168,73,0.9);
}

#event .title_wrapper {
  z-index: 2;
}
