body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.red_text {
  color: #e14854;
}

.darkblue_text {
  color: #042d40;
}

.blue_text {
  color: #62bab8;
}

.bold_text {
  font-weight: bold;
}

.uppercase_text {
  text-transform: uppercase;
}

.white_text {
  color: #fff;
}

.logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem; }

.circle {
  border: 1px solid #e14854;
  color: #e14854;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }


ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 3rem 1rem;
  list-style: none;}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  margin: 8px;
  font-size: 16px;
  font-weight: bold;
}

.button {
  border-radius: 2rem;
}

.button_inner{
  display: inline;
}

.rainbow_line {
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(#d95154), color-stop(25%, #e58543), color-stop(50%, #d6b038), color-stop(75%, #7eb35a), to(#63b9b4));
  background: linear-gradient(to right, #d95154 0%, #e58543 25%, #d6b038 50%, #7eb35a 75%, #63b9b4 100%);
  height: 12px; }
